body {
  background-color: bisque;
  color: #443311;
  padding: 2em;
}

header{
  text-align: center;
  font-size: x-large;
}

main {
  text-align: center;
  font-size: larger;
}

.button-container button {
  padding: 8px 32px;
  font-size: large;
  font-weight: 600;
  background-color: #443311;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  margin: 4px 8px;
}

.coffee-list{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.coffeeCard {
  width: 300px;
  border: 2px solid #443311;
  border-radius: 8px;
  background-color: antiquewhite;
  margin: 1rem;
}

.coffeeCardImage{
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
}